<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @entryPointScripts('app')
    @entryPointStyles('app')
    <title>Agence | Design</title>
  </head>
  <body>
      <section class="hero">
        @include('partials/navbar')
        @!section('hero')
      </section>
      @!section('body')
      @include('partials/footer')
    <script defer src="/static/app.js"></script>
    <script defer src="https://unpkg.com/phosphor-icons"></script>
  </body>
</html>
