<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @entryPointScripts('app')
    @entryPointStyles('app')
    <title>Agence | Design</title>
  </head>
  <body>
    <section class="hero">
      <header class="header">
        <a href="{{ route('home') }}" class="header__brand"><span>jmk</span></a>
        <nav class="header__nav">
          <ul class="nav__list">
            <li class="nav__item">
              <!-- <a href="profile.html" class="user__account">Musanzi...</a> -->
              <a href="{{ route('login') }}" class="nav__link">Connexion</a>
            </li>
            <li class="nav__item">
              <!-- <a href="" class="user__logout"><i class="ph-sign-out"></i></a> -->
              <a href="{{ route('signup') }}" class="nav__link link__cta">Inscrption</a>
            </li>
          </ul>
        </nav>
      </header>
     @!section('hero')
    </section>
    @!section('body')
    <footer class="section footer">
      <h4 class="copy">&copy; Designed By JMK</h2>
    </footer>
    <script defer src="https://unpkg.com/phosphor-icons"></script>
  </body>
</html>
