<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    @entryPointScripts('admin')
    @entryPointStyles('admin') 
   
</head>
<body class="nk-body bg-lighter npc-general has-sidebar">
    <div class="nk-app-root">
        <div class="nk-main">
            @include('admin/partials/sidebar')
            <div class="nk-wrap">
                @include('admin/partials/topbar')
                <div class="nk-content">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            @!section('body')
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>       
    <script defer data-turbo-track="reload" src="/static/bundle.js"></script>
    <script defer data-turbo-track="reload" src="/static/scripts.js"></script>
</body>
</html>
