.hero {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url('../images/background.webp') no-repeat center center / cover;
}

.hero__body {
  color: $light-1;
  font-weight: 300;
  font-size: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__welcome {
  margin-bottom: 4rem;
  line-height: 1.2;
}

.hero__description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: $light-3;
}
